.info-booking {
  display: flex;
  justify-content: center;
}

.passanger_info {
  padding: 2rem;
  margin: 6px;
  background-color: white;
  border-radius: 12px;
  min-width: 250px;
}

@media (min-width: 420px){
  .passanger_info {
    min-width: 450px;
  }
}

.info-booking h1 {
  margin-top: 0px;
}

.input-booking input{
  width: 95%;
  padding: 6px 0 6px 6px;
  outline: none;
  margin: 6px 0px 12px 0px;
}

.info-booking .passanger_info input[type=submit]{
  font-size: 17px;
  padding: 6px;
  margin: 12px 0px 6px 0px;
  width: 97%;
}
